.hover-change:hover {
    border-radius: 8px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px gray;
    transition: 0.2s;
}

.exec_log_msg_css {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.selected_log_line {
    background-color: #1e90ff;
    cursor: none;
}

.remaining_log_line {
    cursor: pointer;
}

.main_td {
    vertical-align: middle !important;
    width: 20%
}

.middle_td {
    width: 30%;
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

.center {
    text-align: center;
    width: 100%;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
}

input[type="checkbox"] {
    margin: 0 10px 0 15px;
}

.label {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.input {
    font-size: 16px;
    font-weight: normal !important;
}

.empty_line {
    height: 20px;
}

input[type="button"] {
    margin: 0 10px 0 10px;
}

.button {
    width: 70px;
    height: 35px;
    margin: -19px 150px 0 -75px;
    border-radius: 12px;
    background-color: #17A2B8;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.textfield {
    width: 75% !important;
    height: 35px !important;
    border: 3px solid #17A2B8 !important;
    border-radius: 6px !important;
    margin-top: 5px !important;
}

.textfield_setting {
    width: 350px !important;
    height: 35px !important;
    border: 2px solid #17A2B8 !important;
    border-radius: 6px !important;
    padding: 5px !important;
}

.textfield_generate {
    width: 200px;
    height: 35px;

    border: 2px solid #17A2B8;
    border-radius: 6px;
}

.dropdown_generate {
    width: 200px;
    height: 35px;
    padding: 2px;
    line-height: 1;
    border: 2px solid #17A2B8;
    border-radius: 6px;
    overflow: hidden;
    background: no-repeat right;
}

.dropdown1 {
    width: 200px;
    height: 35px;
    border: 3px solid #17A2B8;
    border-radius: 6px;
}

.dropdown select {

    /*Hides the default arrows for Selects*/
}


.dropdown {
    width: 200px;
    height: 35px;
    padding: 2px;
    line-height: 1;
    border: 3px solid #17A2B8;
    border-radius: 6px;
    overflow: hidden;
    background: no-repeat right;
    margin-top: 3px;
}



.dropdown:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 0;
    height: 35px;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    width: 0;
    height: 35px;
}

select>option {
    background: #D3D3D3;
    color: black;

}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

tr.selected {
    background-color: lightblue
}